body {
  background: #222;
  color: #fff;
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  width: 90%;
  margin: auto;
  padding: 20px 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #444;
}

.navbar .logo {
  font-size: 22px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 25px;
  list-style: none;
}

.nav-links li {
  cursor: pointer;
}

.profile-icon {
    width: 50px;
    height: 50px;
    background-image: url("./src/assets/prof.png");
    background-size: cover;
    border-radius: 10%;
}

.hero {
  margin-top: 40px;
  text-align: left;
}

.hero h1 {
  font-size: 32px;
  font-weight: bold;
}

.icons {
  margin-top: 35px;
  display: flex;
  gap: 70px;
}

.icons img {
  width: 70px;
}

.intro {
  margin-top: 50px;
}

.intro h2 {
  margin-bottom: 10px;
}

.contact {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.contact-info {
  flex: 1;
}

.map {
  width: 40%;
  display: flex;
}

.google-map {
  width: 100%;
  height: 300px;
  min-width: 100px;
  max-width: 800px;
  border-radius: 10px;
}
